
#bar {
    position: relative;
    height: 100px;
    background: #131313;
    text-align: center;
    font-size: 63px;
    color: rgb(172, 172, 172);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

#tekst1 {
    position: relative;
    padding-top: 100px;
    
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
    
    text-align: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

    color: rgb(172, 172, 172);
    background: #131313;
    height: 200px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}



#bottombar {
    position: relative;
    top: 1080px;
    
    text-align: center;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;

    color: rgb(172, 172, 172);
    background: rgb(19, 19, 19);
    height: 200px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);

    padding-left: 10px;
    padding-top: 5px;
}

*{
    margin:0px
}

*{
    background-color:#272727;
    background-image: url(images/b.png);
    background-size: 30px;
    background-blend-mode:multiply;
}








/* ZDJECIA PORTFOLIO */
/* ZDJECIA PORTFOLIO */
/* ZDJECIA PORTFOLIO */
/* ZDJECIA PORTFOLIO */

#portolio-naglowek {
    position: relative;
    top: -150px;
    margin-left: 250px;
    
    text-align: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;

    color: rgb(172, 172, 172);
    background: #131313;
    height: 50px;
    width: 1400px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

#portolio-back {
    position: relative;
    top: -120px;
    margin-left: 250px;
    margin-right: 600px;
    
    text-align: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;

    color: rgb(172, 172, 172);
    background: #131313;
    height: 500px;
    width: 1400px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

#portfolio-1 {
    position: relative;
    top: -575px;
    left: 300px;
    border-radius: 50px;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

#portfolio-2 {
    position: relative;
    top: -575px;
    left: 345px;
    border-radius: 50px;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}

#portfolio-3 {
    position: relative;
    top: -575px;
    left: 390px;
    border-radius: 50px;
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
}


/* DISCORD LOGO I GMAIL LOGO
DISCORD LOGO I GMAIL LOGO
DISCORD LOGO I GMAIL LOGO
DISCORD LOGO I GMAIL LOGO */

#gmaillogo {
    position:relative;
    top: 961px;
    right: 33px;
}

#discordlogo {
    position:relative;
    top: 933px;
    right: -1px;
}

#infologo {
    position:relative;
    top: 877.5px;
    right: 64.5px;
}

/* IKONKI DO ZMIENIANIA PODSTRONY
IKONKI DO ZMIENIANIA PODSTRONY
IKONKI DO ZMIENIANIA PODSTRONY
IKONKI DO ZMIENIANIA PODSTRONY */

#mainsite {
    position: relative;
    bottom: 1589px;
    left: 490px;
}

#infosite {
    position: relative;
    bottom: 1587px;
    left: 500px;
}
